@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<section class="section_container header_container" id="Home">
    <div class="header_content">
        <h1>Bienvenido a Tienda Restaurante: tu <span>menú digital</span> al instante</h1>
        <p class="section_description">
            Explora nuestro menú digital interactivo, realiza tu pedido en línea y disfruta de una experiencia moderna,
            cómoda y sin esperas.
        </p>
        <div class="header_btn">
            <button class="btn">Comienza Ahora</button>
        </div>
    </div>
    <div class="header_image">
        <img src="/img/canelones1.jpg" alt="header image" />
    </div>
</section>
